# Diretórios de cache do Python
__pycache__/

# Arquivos compilados do Python
*.pyc

# Arquivos de serialização (pickle)
*.pkl

# Arquivos de log
*.log

# Checkpoints automáticos do Jupyter
*.ipynb_checkpoints/

# Ambiente virtual
venv/

# Arquivo oculto do macOS
.DS_Store

